<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>О проекте</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</head>
<body>
<nav class="navbar fixed-top navbar-expand-md bg-dark navbar-dark mb-5">
    <div class="container-fluid">
        <a class="navbar-brand text-white">AnimalShop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item" th:if="${userTypeRole} != 'ADMIN'">
                    <a class="nav-link" href="/user/products">За покупками</a>
                </li>

                <li class="nav-item" th:if="${userTypeRole} == 'ADMIN'">
                    <a class="nav-link" href="/user/products">Основной сайт</a>
                </li>

                <li class="nav-item" th:if="${userTypeRole} == 'ADMIN'">
                    <a class="nav-link" href="/user/admin">Админ панель</a>
                </li>

                <li class="nav-item" th:if="${userTypeRole} == 'GUEST'">
                    <a class="nav-link" href="/login">Войти</a>
                </li>

                <li class="nav-item" th:if="${userTypeRole} == 'GUEST'">
                    <a class="nav-link" href="/sign">Зарегистрироваться</a>
                </li>

                <li class="nav-item justify-content-end" th:if="${userTypeRole} == 'ADMIN' or ${userTypeRole} == 'USER'">
                    <a class="nav-link" href="/logout">Выйти</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="content m-5">
    <p class="invisible"> temp</p>
    <p class="mt-1"> О сети зоомагазинов "AnimalShop"</p>
    <p>   История нашей компании обычная и необычная одновременно.
    Многие с детства мечтают о щенке или котенке, а затем хотят, чтобы четвероногих друзей было как можно больше.
    Мечтают многие, а сбывается лишь у самых настойчивых и верных цели.</p>

    <p>   Если же вы только думаете завести себе четвероногого друга,
    то наши специалисты помогут вам выбрать того, кто подойдет именно вам,
    и ответят на любые вопросы по его кормлению, содержанию, уходу и лечению.</p>

    <p>Для вашего удобства там же предусмотрен заказ товаров с доставкой на дом.</p>

    <p>  Мы ждем вас в наших магазинах! Добро пожаловать!</p>
    <p>  По всем интересующим вопросам вы можете обращаться к нам по e-mail: info@animalShop.ru. </p>
</div>
<div class="content padding-site m-3">
    <p class="invisible"> temp</p>
    <div class="container">
        <div class="row">
            <div class="col-4 mx-auto text-center">
                <img class="mx-auto d-block" th:src="@{https://s01.yapfiles.ru/files/2435153/tenor.gif}" alt="Котик"/>
            </div>
        </div>
    </div>
</div>
</body>
<footer class="bg-dark fixed-bottom text-center text-white mt-3">
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <a class="text-white" href="https://github.com/IvanCherepanov/JavaSpringCourseWork">Черепанов Иван Владимирович ИКБО-01-20, 2022</a>
    </div>
</footer>

</html>