<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Стартовая страница админа</title>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
<body>

<div class="content padding-site m-3">
    <p class="invisible"> temp</p>
    <div class="container">
        <p>Все упало, мы чиним(</p>
        <div class="row">
            <div class="col-4 mx-auto text-center">
                <img class="mx-auto d-block" th:src="@{https://s01.yapfiles.ru/files/2435153/tenor.gif}" alt="Котик"/>
            </div>
        </div>
    </div>
</div>

</body>
</html>