<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</head>
<nav class="navbar fixed-top navbar-expand-md bg-dark navbar-dark mb-5">
  <div class="container-fluid">
    <a class="navbar-brand">PetStore</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com"
             id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Питомцы
          </a>
          <div class="dropdown-menu"  aria-labelledby="navbarDropdownMenuLink">
            <ul th:each="pet : ${pets}">
              <a class="dropdown-item bg-white" th:href="@{/user/products(pId=${pet.id}, pTId=0)}"
                 th:text="${pet.petName}">Text</a>
            </ul>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/shopping_basket/purchases">Корзина</a>
        </li>

        <li class="nav-item" th:if="${userRole} == 'GUEST'">
          <a class="nav-link" href="/login">Войти</a>
        </li>

        <li class="nav-item" th:if="${userRole} == 'GUEST'">
          <a class="nav-link" href="/sign">Зарегистрироваться</a>
        </li>

        <li class="nav-item" th:if="${userRole} == 'ADMIN' or ${userRole} == 'USER'">
          <a class="nav-link" href="/logout">Выйти</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Дополнительно
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a th:if="${userRole} == 'ADMIN'" class="dropdown-item" href="/user/admin">Админ панель</a>
            <a class="dropdown-item" href="/user/home">О проекте</a>
          </div>
        </li>

      </ul>

      <form class="d-flex" th:method="GET" th:action="@{/item/name}" >
        <input class="form-control me-2" float="right"
               type="search" placeholder="Поиск" aria-label="Поиск"
               th:name="itemName"
               required>
        <button class="btn btn-outline-success" type="submit">Поиск</button>
      </form>
    </div>
  </div>
</nav>
<body>
  <div class="col-xl-10 col-lg-8 col-md-8 col-sm-8 mt-5">
    <div class="row">
      <div class="col-xl-3  col-lg-4 col-md-6 col-sm-8"
           th:each="item : ${items}">
        <div class="card border-dark flex-column m-2" >
          <img th:src="@{${item.imagePath}}"
               class="card-img-top"
               alt="product-img"
               style="max-height:200px">
          <div class="card-body text-white bg-dark mb-3" >
            <h5 class="card-title" th:text="${item.itemName}"></h5>
            <p class="card-text align-content-center" th:text="${item.description}" style="width: 20ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;">

            </p>
            <p class="card-text" th:text="${item.cost}"></p>

            <div class="row-cols-4">
              <form th:method="POST" th:action="@{/shopping_basket/addPurchase}">
                <input type="hidden" th:name="id" th:value="${item.id}">

                <input
                        name="count"
                        class="count"
                        type="number"
                        size="2"
                        value="1"
                        id="count"
                        min="1"
                        max="10" >

                <button type="submit" class="btn btn-primary m-2 ">Купить</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<div class="invisible container mb-2 mt-2">
  <p>Конец</p>
  <h2>Конец</h2>
</div>
<footer class="bg-dark fixed-bottom text-center text-white">
  </div>
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-white" href="https://github.com/IvanCherepanov/JavaSpringCourseWork">Черепанов Иван Владимирович ИКБО-01-20, 2022</a>
  </div>
  <!-- Copyright -->
</footer>
</html>